.main{
    width: 96vw;
    height: 100vh;
    /* background-color: aqua; */

    display: flex;
}
/* //////////////////////////////////////////// */
.leftbox{
    width: 25vw;
    height: 100vh;
    /* background-color: blue; */

    /* display: flex; */
    align-content: center;
    justify-items: center;
}

/* //////////////////////////////////////////// */

.centerbox{
    width: 45vw;
    height: 100vh;
    /* background-color: yellow; */

    align-content: center;
    justify-items: center;
}

/* //////////////////////////////////////////// */

.rightbox{
    width: 25vw;
    height: 100vh;
    /* background-color:red; */

    align-content: center;
    justify-items: center;
}