.main{
    width: calc(96vw - 150px);
    margin-left: 9vw;
    height: 100vh;

    display: flex;
}
/* //////////////////////////////////////////// */
.leftbox{
    width: 25vw;
    height: 100vh;

    align-content: center;
    justify-items: center;
}

/* //////////////////////////////////////////// */

.centerbox{
    width: 45vw;
    height: 100vh;

    align-content: center;
    justify-items: center;
}

/* //////////////////////////////////////////// */

.rightbox{
    width: 25vw;
    height: 100vh;

    align-content: center;
    justify-items: center;
}