.aibox{
    width: 80%;
    height: 92%;
    background-color: #e5e1f5;

    border-radius: 20px;

    box-shadow: 4px 4px 10px rgba(0, 0,0,.25);
}

.summaryAllBox {
    position: relative;
    width: 100%;
    height: 150px;
}

/* todaySummary */
.todaySummary {
    position: relative;

    top: 3%;
    left: 6%;
    
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 2%;

    justify-content: center;

    width: 40%;
    height: 40px;

    font-size: 18px;

    cursor: pointer;

    /* design */
    
    color: #ffff;
    background-color: #6C47FF;
    
    border-radius: 20px;
    overflow: hidden;

}

.todaySummary:hover .magicWand,
.todaySummary:hover .todaySummaryTxt {
    opacity: 0.7;
}


.magicWand {
    position: relative;

    top: 8%;
    
    margin-right: 3%;

    font-size: 140%;
}


/* effect */

.todaySummary:active {
    box-shadow: 5px 5px 10px;
}

.todaySummary::before {
    position: absolute;
    content: ' ';
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #ffff;
    
    animation: shiny 4.0s ease-in-out infinite;
}

@keyframes shiny {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
  }


.dateSetManually {
    position: relative;
    display: flex;

    margin-left: 6%;
    margin-top: 15%;

    padding: 0;

    justify-content: center;
    align-items: center;

    width: 40%;
    height: 5%;


    background-color: #ffff;
    border-radius: 15px;
}

.dateSetManuallyTxt {
    position: relative;
    display: inline-block;



    width: fit-content;
    height: fit-content;

    color: #6C47FF;
}

.startDateBox{
    position: relative;
    display: flex;

    margin-top: 5%;
    margin-left: 6%;

    width: 88%;
    height: 5%;
}

.startDate{
    position: relative;
    display: flex;

    margin-top: 1%;

    padding: 0;

    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;


    background-color: #ffff;
    border-radius: 15px;
}

.startDateTxt{
    position: relative;
    display: inline-block;

    width: fit-content;
    height: fit-content;

    color: #6C47FF;
}

/* 캘린더 - 시작일 */

.startDatePickerBox {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.react-datepicker-wrapper {
    width: 100%; /* wrapper에 100% 너비 적용 */
    height: 100%;
    display: flex; /* 콘텐츠를 flexbox로 배치 */
    align-items: center;
    justify-content: center;
  }

.startDatePicker {
    position: relative;
    

    height: 100%;

    background-color: #ffff;

    border: solid transparent;
    border-radius: 15px;
}

.dateInput{
    position: relative;
    
}

.exitButton{
    cursor: pointer;
}