.aibox {
    position: relative;
    width: 80%;
    height: 86%;
    background-color: #e5e1f5;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: auto;
}

.todaySummary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 45%;
    height: 45px;

    font-size: 18px;
    font-weight: bold;

    color: white;
    background-color: #6C47FF;

    border-radius: 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.todaySummary::before {
    content: '';
    position: absolute;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: white;
    animation: shiny 4.0s ease-in-out infinite;
}

@keyframes shiny {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}

.magicWand {
    font-size: 22px;
}

.dateSetManually {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 92%;
    height: 40px;

    background-color: white;
    border-radius: 10px;

    font-weight: bold;
    color: #6C47FF;
    margin-top: 1rem;
}

.startDateBox {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.startDate {
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    color: #6C47FF;
}

.startDatePickerBox {
    flex-grow: 1;
}

.startDatePicker {
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    background-color: white;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;

    border: 1px solid transparent; /* 미리 border 자리를 차지함 */
    transition: border-color 0.2s ease;
}

.startDatePicker:hover{
    border: 1px solid #6C47FF;
    cursor: pointer;
}

.summaryInfo {
    background-color: #d2c8f8;
    color: #333;
    border-radius: 10px;

    height: 40%;
    padding: 1rem;
    overflow-y: auto;
    white-space: pre-wrap;
}

.summaryButton {
    width: 30%;
    height: 45px;
    
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    color: #6C47FF;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.summaryButton:hover {
    background-color: #f1ecff;
    box-shadow: 0 0 8px rgba(108, 71, 255, 0.3);
}

.exitButton {
    font-size: 36px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #6C47FF;
    cursor: pointer;
    transition: transform 0.2s;
}

.exitButton:hover {
    transform: scale(1.1);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(0.4);
  }