.login {
    width: 100vw;
    height: 100vh;

    background-image: url(./img/login_back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.logo {
    background: url(./img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 60px;
    height: 60px;

    margin-bottom: 20px;
}

.id_container {
    position: relative;
}

.user_icon {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);

    color: rgba(255, 255, 255, 0.6);

    font-size: 1.3rem;
}

.id {
    width: 330px;
    height: 45px;
    padding: 10px 40px;
    margin-bottom: 10px;

    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;

    color: white;

    font-size: 1.3rem;
}

.id::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: inherit;
}

.pw_container {
    position: relative;
}

.pass_icon {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    
    color: rgba(255, 255, 255, 0.6);
    
    font-size: 1.3rem;
}

.pw {
    width: 330px;
    height: 45px;
    padding: 10px 40px;
    margin-bottom: 10px;

    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;

    color: white;

    font-size: 1.3rem;
}

.pw::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: inherit;
}

.button {
    display: flex;
    position: relative;
    flex-direction: column;
}

.message {
    min-height: 24px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 1.2rem;
    /* background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent); */
    color: red;

    margin: 5px 0 15px;
}

.loginbutton {
    width: 330px;
    height: 60px;

    background-color: rgba(255, 255, 255, 0.5);
    color: white;

    border: none;
    cursor: pointer;

    border-radius: 7px;

    font-size: 1.3rem;
}