.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('./img/back3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    width: 50vw;
    height: 60vh;
    border-radius: 20px;
    padding: 7px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: relative;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    /* background-image: url('./img/back.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right; */
    /* background-color: white; */
}

.main img {
    position: absolute;
    width: 50vw;
    height: 60vh;
    z-index: -1;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: coral;
}

.left .loginData {
    height: 70%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: darkcyan;
}

.right {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 15px;
    position: relative;
    letter-spacing: 0.1rem;
    /* background-color: cornflowerblue; */
}

.right .text {
    width: 80%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 4rem;
    text-align: right;
}

.right .text .sub_text {
    margin-top: 20px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: right;
}