.body {
    width: 98%;
    height: 9vh;
    margin-bottom: 2.5vh;
    padding: 5px 10px ;
    border-radius: 10px;
    background-color: #E5E1F5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-evenly;
    
    color: #444;
}

.name {
    width: 22%;
    display: flex;
    align-items: center;

    font-size: 1.3rem;
    font-weight: bold;
}
.content {
    width: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.timeline {
    width: 10%;
    background-color: blueviolet;
}
.dot {
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    letter-spacing: 1px;
}


.manager {
    width: 100%;
}
.manager label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
}
.detail {
    width: 98%; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;
}
.detail label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
}


.status {
    width: 100%;
}
.deadline {
    width: 100%;
}