.body {
    margin: 0;
    padding: 0;
    width: 96vw;
    height: 100vh;   
}

.container {
    margin: 2vh auto;
    width: 90%;
    height: 80%;
}

.pageTitle {
    color: #444;
    font-size: 2rem;
    font-weight: bold;
}

.subContainerTitle {
    color: #444;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 3vh;

}

.upCommingContainer {
    margin-top: 5vh;
    height: 30vh;
}





.listContainer {
    margin-top: 7vh;
    height: 45vh;
}

.listBar {
    width: 96%;
    height: 5vh;
    padding: 10px 2%;
    border-radius: 10px;
    background-color: #E5E1F5;

    display: flex;
    justify-content: space-between;
}

.statusBar {
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noneBar {
    width: 34%;
}
.searchBar {
    width: 40%;
    background-color: seagreen;
}

.statusBar > div {
    display: inline-block;
    font-size: 1.3rem;
}
.statusBar > div.active {
    color: #4FC765;
}
.statusBar > div.active::before {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background-color: #4FC765;
    position:relative;
    bottom: -42px;
}