
.pageBar { 
    height: 3vh;
}
.pageBox {
    margin: 0 auto;
    /* width: 50%; */
    line-height: 3vh;

    display: flex;
    justify-content: center;
    align-items: center; 
}
.pageBox .pageNum {
    padding:0 10px;
}
.pageBox .pageNum i{
    font-size: 0.8rem;
}
.activePage{
    padding:0 10px;
    color:red;
    font-weight: bold;
    font-size: 1.3rem;
}