.container {
    margin: 0;
    padding: 0px;
    position: fixed;
    top: 50vh;
    left: 50px;
    transform: translateY(-50%);
    width: 100px;
    height: 80vh;
    border-radius: 30px;
    background-color: #373737;
    z-index: 2;

    /* background-image: url("./img/wall.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.buttons {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.buttons .flip {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #373737;
    width: 3vw;
    height: 3vw;
    border-radius: 50%; */
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    border: none;
    transition: color 0.5s ease-in-out;
}

.buttons .flip:hover {
    /* border-radius: 7px;
    transition: all .3s ease; */
    color: greenyellow;
}

.flip .icon {
    display: block;
    font-size: 1.3rem;
}

.flip .text {
    margin-top: 5px;
}

.profile {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile .profile_img {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    overflow: hidden;
}

.profileImg {
    width: 2.5vw;
}

.logout {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}