.header{
    width: 100%;
    height: 10%;
    background-color: #E5E1F5;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 25px;

    box-shadow: 4px 4px 10px rgba(0, 0,0,.25);
}

.chatname{
    font-size: 24px;
    font-weight: 700;
}

/* ////////////////////////////////// */

.iconbox{
    display: flex;

}

.empicon{
    width: 50px;
    height: 50px;

    margin-right: 20px;

    border-radius: 50%;

    background-color: #6C47FF;
}

/* ////////////////////////////////// */

.projecticon{
    font-size: 24px;
    font-weight: 700;
}