.invite{
    width: 80%;
    height: 18%;
    background-color: #E5E1F5;
    margin-bottom: 30px;

    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0,0,.25);

}




 /* 아바타들 */
 /* 초대된인원들이 */
.avatarRow {
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    
}

.avatarBox{
    display: flex;
    gap: 8px;
 }

.avatar {
    width: 50px;
    height: 50px;
    background: #ccc;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 16px;

}




/* 직원검색 */

.inviteRow{
    display: flex;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.inviteRow input{
    flex: 1;
    font-size: 16px;
    border-radius: 6px;
    padding: 5px 10px;
    border: none;
    outline: none;
}
.inviteRow button{
    margin-left: 1%;
    padding: 3px 12px;
    background-color: #6C47FF;
    color: white;
    font-size: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.inviteRow button:hover{
    background-color: #4A1DFF;
  }

/* 버튼들 */
.inviteBtn {
flex-shrink: 0;
    padding: 5px 10px;
    background-color: #6C47FF;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

.inviteBtn:hover{
    background-color: #4A1DFF;
  }

.opOrga {
    width: 90%;
    padding: 5px;
    /* background-color: #7046d3; */
    background-color: #6C47FF;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    margin-left: 5%;
    cursor: pointer;
  }

.opOrga:hover{
background-color: #4A1DFF;
}