.mainchat{
    width: 100%;
    height: 80%;
    background-color: #E5E1F5;

    border-radius: 25px;

    /* 가로 중앙 정렬 */
    justify-items: center;

    box-shadow: 4px 4px 10px rgba(0, 0,0,.25);
}

/* .SearchBar {
    position: relative;
    
    top: 25px;

    width: 60%;
    height: 5%;
    
    background-color: white;

    border-radius: 20px;


} */

/* .searchInput {
    position: relative;

    width: 80%;

    border: none;
    outline: none;
}

.searchInput::placeholder {
    font-size: 15px;

}

.IoSearch {
    position: relative;

    margin-top: 5px;
    left: 20px;

    font-size: 25px;
} */


.MessageInputBox {
    position: relative;
    top: 580px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 60px;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

    border-radius: 10px;
    background-color: white;
    /* overflow: hidden; */

    padding: 0 10px;
    /* box-sizing: border-box; */
}


/* .fileIcon {
    position: relative;
    top: 12px;
    left: 15px;

    font-size: 35px;
    transform: rotate(35deg);

    cursor: pointer;
} */

.messageInput {
    
    /* text-align: center; */

    width: 80%;
    height: 30px;

    border: none;
    outline: none;

    font-size: 20px;
}

.sendMessagIcon {

    position: absolute;
    top: 25%;
    right: 5%;
    font-size: 30px;
}