.SearchBar {
    position: relative;
    
    top: 25px;
    left: 150px;

    width: 60%;
    height: 5%;
    
    background-color: white;

    border-radius: 20px;

}

.searchInput {
    position: relative;
    
    left: 35px;
    bottom: 8px;

    width: 80%;

    border: none;
    outline: none;
}

.searchInput::placeholder {
    font-size: 15px;

}

.IoSearch {
    position: relative;

    margin-top: 5px;
    left: 20px;

    font-size: 25px;
}