.container {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width: 96vw;
    height: 100vh;
}

.side_bar {
    width: 10%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: relative;
}


.list_Page {
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}

.list_container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    height: 80%;
}

.option_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.button {
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 7px;
    border: #6c47ff;
    background-color: #6c47ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.button:hover {
    background-color: #4a1dff;
    transition: background-color 0.3s ease-in;
}


.search_box { 
    display: flex;
    align-items: center;
    gap: 1vw;
}

.select {
    margin-right: 20px;
    height: 4vh;
    border: 1px solid #6c47ff;
    padding: 0;
    
}

.select:focus {
    outline: none;
}


.input_box {
    position: relative;
    display: flex;
    align-items: center;

}

.search_box input {
    width: 15vw;
    height: 4vh;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    outline: 1px solid #6c47ff;
    transition: outline 0.5s ease-in-out;
    
}

.input_box i {
    position: absolute;
    right: 0;
    margin-right: 10px;
}



.Board_table {
    
    width: 100%;
    
}

.Board_title {
    background-color: #B8D9FF;
    height: 50px;
    
}

.Board_table:global(th) {
    border: none;
}


.Board_table tbody tr {
    
    height: 50px;
}

.Board_table tbody td {
    
    border: 1px solid #6c47ff;
    text-align: center;
}


.number {width: 7%;}
.title {width: 50%;}
.writer {width: 15%;}
.writeTime {width: 21%;}
.views {width: 7%;}

.Board_paging {
    position: absolute;
    border: 1px solid #6c47ff;
    display: flex;
    bottom: 0;
    right: 50%;
}

