.container {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width: 96vw;
    height: 100vh;
}

.side_bar {
    width: 10%;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 0 1vw;
}

.side_bar .menu {
    position: absolute;
    top: 10%;
}


.side_bar .notice {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: #222;
}


.side_bar .feedback {
    margin: 50px 0;
    text-align: right;
    font-size: 1.3rem;
    color: #222;
}

.list_Page {
    width: 90%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.list_Page .header {
    font-size: 2rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 30px;
}

.list_container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 70%;
    height: 80%;
}

.option_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.button {
    padding: 10px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 7px;
    border: #6c47ff;
    background-color: #FFEBB8;
    color: black;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.button:hover {
    background-color: #4a1dff;
    transition: background-color 0.1s ease-in;
}


.search_box { 
    display: flex;
    align-items: center;
    gap: 1vw;
}

.select {
    margin-right: 10px;
    width: 5vw;
    height: 4vh;
    border: 1px solid #6c47ff;
    padding: 10px;
    
}

.select:focus {
    outline: none;
}


.input_box {
    position: relative;
    display: flex;
    align-items: center;

}

.search_box input {
    width: 15vw;
    height: 4vh;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    outline: 1px solid #6c47ff;
    transition: outline 0.5s ease-in-out;
    
}

.input_box i {
    position: absolute;
    right: 0;
    margin-right: 10px;
}



.Board_table {
    border-collapse: collapse;
    width: 100%;
}

.Board_title {
    background-color: #FFEBB8;
    height: 60px;
    border-radius: 10px;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    color: #444;
}

.Board_table tbody tr {
    height: 50px;
    color: #222;
}

.Board_table tbody td {
    border-bottom: 1px solid #d5d5d5;
    text-align: center;
}


.number {width: 10%;}
.postTitle {width: 45%;}
.writer {width: 20%;}
.writeTime {width: 15%;}
.views {width: 10%;}

.Board_paging {
    /* border: 1px solid #6c47ff; */
    width: 10vw;
    text-align: center;
    margin: 10px auto 0;
    font-size: 1.2rem;
}

